@model IEnumerable<Cliente>
@{
    ViewData["Title"] = "Editar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form action="Edit" method="post">
     @foreach (var item in Model)
        {
           @*@Html.HiddenFor(@item.IdCliente)*@
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nro Documento</label>
            <input type="text" class="form-control" id="NroDocumento" value="@item.NroDocumento"  name="NroDocumento" aria-describedby="Documento">
    
          </div>
         <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="Nombre" value="@item.Nombre" name="Nombre" aria-describedby="Nombre">
  
          </div>
         <div class="mb-3">
            <label for="Direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="Direccion" value="@item.Direccion" name="Direccion" aria-describedby="Direccion">

          </div>
          <div class="mb-3">
            <label for="Telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="Telefono" value="@item.Telefono" name="Telefono" aria-describedby="Telefono">
   
          </div>
          <div class="mb-3">
            <label for="Observacion" class="form-label">Observacion</label>
            <input type="text" class="form-control" id="Observacion" value="@item.Observacion" name="Observacion" aria-describedby="Observacion">
          </div>
          <input name="IdCliente" value="@item.IdCliente" hidden/>
          <button type="submit" class="btn btn-primary" >Actualizar</button>
    <a class="btn btn-danger btn-sm m-3" type="submit" href="@Url.Action("index", "Home")">Cancelar</a>
          
      
         
  }
</form>


 
